@import '../../../styles/variables';


.header {
    position: fixed;
    z-index: 10000000;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    box-shadow: $box-shadow-2;

    .header_container {
        display: flex;
        align-items: center;
        justify-content: center;

        .header_flex_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0px 70px;

            @media(max-width:1000px) {
                padding: 15px 20px;
            }

        

            .left_items {
                width: 100%;

                .left_items_flex_div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .logo_tag {
                        display: flex;
margin-bottom: 0px;
                        div {
                            position: relative;
                            width: 226px;
                            height: 58px;

                            @media(max-width:990px) {
                                width: 175px;
                                height: 48px;
                            }

                            img {
                                object-fit: cover;
                  
                           


                            }
                        }

                    }

                }
            }

            .right_items {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                @media(max-width:990px) {
                    gap: 1rem;
                }




                .language_dropdown {
                    cursor: pointer;
                    position: relative;
                    user-select: none;

                    .img_div {
                        background-color: $--color-light-5;
                        padding: 0px 5px;
                    }
                }


                // hamburger menu
                .menu {
                    cursor: pointer;
                    display: none;
                    font-size: 20px;
                    width: 20px;
                    align-items: center;
                    justify-content: flex-end;

                    @media (max-width: 1280px) {

                        display: flex;
                    }
                }

                .menu[expand="true"] {
                    display: flex;
                }

            }
        }
    }
}